# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries and coverage output
*.test
*.out

# Rust build output
target/

# Dependency directories (remove the comment below to include it)
# vendor/
build_output
dist

vendor/
/koyeb

#asdf
.tool-versions
